.board {
  height: 60vh;
  border: solid 1px white;
  margin: 40px;
  background-color: rgba(240, 248, 255, 0.116);
  padding: 18px;
  display: flex;
  border-radius: 4px;
}

.drag-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.drag-list::-webkit-scrollbar {
  display: none;
}
